.container {
  margin: 10rem auto;
  width: 22rem;
  height: 30rem;
  padding: 2rem;
  background-color: $color-primary;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}